<div class="container buttons">

  <button mat-raised-button (click)="login()">login</button>
  <button mat-raised-button (click)="accessResourceServer()">getData</button>
</div>
<div class="data">
  <mat-accordion>
    <mat-expansion-panel *ngFor="let parkinglot of data">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'Parkinglotnumber: ' + parkinglot.parkingLotNumber + '    Power:' + parkinglot.power + '%'}}
        </mat-panel-title>

      </mat-expansion-panel-header>
      <mat-action-row>
        <button mat-raised-button color="primary" (click)="book(parkinglot.id)">Book</button>
      </mat-action-row>
    </mat-expansion-panel>

  </mat-accordion>
</div>
